@import "~antd/dist/antd.css";

.ant-layout-header {
    background: #f0f2f5;
}

.logo {
    font-size: 1.5rem;
    margin: 16px;
    color: #1890ff;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(155, 155, 155);
    text-align: center;
    text-transform: uppercase;
}

iframe {
    pointer-events: none;
}

.search-btn {
    margin: 5px 10px;
    width: 180px;
    /* box-shadow: 1px 1px 3px slategray; */
    /* border-radius: 3px; */
}
